<head>
  <title>Test Page: Don't Panic</title>
  <link rel="icon" href="/favicon.png">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans|Raleway:100&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/fonts/fontawesome-free-5.9.0-web/css/fontawesome.css">
  <link rel="stylesheet" href="/fonts/fontawesome-free-5.9.0-web/css/brands.css">
  <link rel="stylesheet" href="/fonts/fontawesome-free-5.9.0-web/css/solid.css">
  <link rel="stylesheet" href="/css/reset.css">
  <link rel="stylesheet" href="/css/main.css">
</head>
